
@{
    ViewBag.Title = "DungLayoutChiDinhRieng";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>DungLayoutChiDinhRieng</h2>
<p>Họ Tên : @ViewBag.hoTen</p>
<p>Quê quán : @ViewData["QueQuan"]</p>
<p>Tuổi : @TempData["Tuoi"]</p>

