@{
    ViewBag.Title = "Giới thiệu";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Thông tin cá nhân</h3>
    <p>Nguyễn Văn Hướng - Đại học tin 15a5hn . Là sinh viên năm cuối , sắp tốt nghiệp có khả năng thất nghiệp =))</p>
</main>