@{
    ViewBag.Title = "Về chúng tôi";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Nguyễn Văn Hướng - DHTI15A5HN - 21103100115.</p>
    <p>Đại học kinh tế kỹ thuật công nghiệp Hà Nội</p>
</main>