@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Nhà 1a Ngõ 4 Tây Trà<br />
        Hoàng Mia, Hà Nội<br />
        <abbr title="Phone">P:</abbr>
        21103100115
    </address>

    <address>
        <strong>Hỗ trợ:</strong>   <a href="mailto:nguyenvanhuong892003@gmail.com">nguyenvanhuong892003@gmail.com</a><br />
        <strong>Thị trường:</strong> <a href="mailto:nguyenvanhuong892003@gmail.com">nvhuong.dhti15a5@edu.uneti.vn</a>
    </address>
</main>