
@{
    ViewBag.Title = "SoHoanHao";
}

<h2>SoHoanHao</h2>
<form>
    <label>Nhập n :</label>
    <input type="number" id="n" name="n"/>
    <input type="submit" value="submit"/>
</form>


@if(ViewBag.SHHlist != null)
            {
    foreach(var item in ViewBag.SHHlist)
                {
                    @item<br />
                }
            }